{% extends 'base.html' %}
{% load static %}
{% block title %}
Home | Q-Bit Hackathon
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
{% endblock css %}


{% block body %}
<header>

<div class="form">
    <div class="card">
        <h1 class="text-center" style="color: white">Enter No. of Doses for each area </h1>
        <br>
    <form action="#" method="post" class="form-group">
    {% csrf_token %}
    {% for i in range %}
        <label for="dose{{i}}" class="form-label">Doses For {{ i }}</label>
        <input class="form-control" type="number" name="dose{{i}}" value="0" id="dose{{i}}">
        <br>
    {% endfor %}
        <input class="btn first" type="submit" value="Next">
    </form>
</div>

    </div>

</header>

    <section>
    <div class="container">
  </div>
   </section>



{% endblock %}


{% block script %}


{% endblock %}